<div class="ex3-container">
  <h2>Exercise 2 - Rotating Card</h2>
  <div class="container">
    <div class="card-container">
      <div class="card">
        <div class="front">
          <div class="cover">
            <img src="{{ coverImg }}" alt="cover" />
          </div>
          <div class="user">
            <img class="img-circle" [src]="profileImg" alt="profile" />
          </div>
          <div class="content">
            <div class="main">
              <h3 class="name">{{ firstName }} {{ lastName }}</h3>
              <p class="profession">{{ profession }}</p>
              <p class="text-center">"{{ quote }}"</p>
            </div>
            <div class="footer">
              <div class="rating"><i class="fa fa-mail-forward"></i> Auto Rotation</div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="header">
            <h5 class="motto">"{{ motto }}"</h5>
          </div>
          <div class="content">
            <div class="main">
              <h4 class="text-center">Developing Web Applications</h4>
              <p class="text-center">{{ description }}</p>
              <div class="stats-container">
                <div class="stats" *ngFor="let stat of stats">
                  <h4>{{ stat.value }}</h4><p>{{ stat.label }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="social-links text-center">
              <a *ngFor="let link of socialLinks" [href]="link.url" [ngClass]="link.class">
                <i [ngClass]="link.icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!inputs_invisible" class="column card-container">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="firstName" placeholder="First Name">
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="lastName" placeholder="Last Name">
      <label for="profession">Profession:</label>
      <input type="text" [(ngModel)]="profession" placeholder="Profession">
      <label for="coverImg">Cover Image URL:</label>
      <input type="url" [(ngModel)]="coverImg" placeholder="Cover Image URL">
      <label for="profileImg">Profile Image URL:</label>
      <input type="url" [(ngModel)]="profileImg" placeholder="Profile Image URL">
      <label for="quote">Quote:</label>
      <input type="text" [(ngModel)]="quote" placeholder="Quote">
      <label for="motto">Motto:</label>
      <input type="text" [(ngModel)]="motto" placeholder="Motto">
      <label for="description">Description:</label>
      <input type="text" [(ngModel)]="description" placeholder="Description">
    </div>
  </div>

</div>
