<header class="app-header">
  <div class="brand">TP Exercises</div>
  <nav class="header-nav">
    <a routerLink="/color" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Color</a>
    <a routerLink="/cv" routerLinkActive="active" class="nav-link">CV</a>
    <a routerLink="/calculator" routerLinkActive="active" class="nav-link">Calculator</a>
    <a routerLink="/cvs" routerLinkActive="active" class="nav-link">CVs</a>
    <a routerLink="/auth" routerLinkActive="active" class="nav-link">Login</a>
  </nav>
</header>
